a {
    cursor:zoom-in;
    margin: 20px;
    padding: 10px;
}

a:visited {
    color: deeppink;
}

a:active{
    color:orangered;
}

a:hover{
    background-color:cornflowerblue ;
    color: white;
}